<h1>Message Board</h1>

<%= erb :post_form %>

<% @posts.reverse.each do |post| %>
	<a href=<%= '"javascript:quote(\'' <<  post.id.to_s << '\');"' %>><%= post.id.to_s %></a>: 
	<strong><%= post.name %></strong><%= trip(post.tripcode) %> @ <%=h post.created_at %>
	<a name=<%= '"' << post.id.to_s << '"' %>></a><br>
	<% post.content.bbcode_to_html(@bbcodes, true, :disable, :image, :video).split('\n').each do |line| %>
		<% if line[0..3] == "&gt;" %>
			<span style="color: #0c0;"><%= line %></span>
		<% else %>
			<%= line %>
		<% end %>
		<br>
	<% end %>
<% end %>